
.btn-group{
    height:15rem;
}

.btn-group > a {
    /*border: 0.05rem solid orangered;*/
    border-radius: 1rem;
    /*!*padding: 0 0.3rem;*!*/
    top: 1rem;
    right: 0.5rem;
    font-size: 2.5rem;
}

