{% extends 'base.html' %}
{% load static %}
{% block ext_css %}
    {#    {{ block.super }}#}
    {#    <link rel="stylesheet" href="{% static 'css/index.css' %}">#}
{% endblock %}

{% block content %}
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">添加布老板</button>
        <!-- 模态框 -->
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">添加布老板</h4>
                    </div>
                    <!-- 模态框主体 -->
                    <div class="modal-body">
                        <form action="{% url 'fly:addbuboss' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="bossname">布老板名字：</label>
                                <input type="text" class="form-control" id="bossname" name="bossname">
                                <label for="tell">布老板电话：</label>
                                <input type="text" class="form-control" id="tell" name="tell">

                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">确定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal3">删除布老板</button>
        <!-- 模态框 -->
        <div class="modal fade" id="myModal3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">删除布老板</h4>
                    </div>
                    <!-- 模态框主体 -->
                    <form action="{% url 'fly:subbuboss' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="boss">选择一个布老板并删除</label>
                            <select name="boss" id="boss" class="form-control">
                                {% for boss in bosslist %}
                                    <option value="{{ boss.id }}">{{ boss.l_username }}</option>
                                {% endfor %}
                            </select>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <table class="table table-hover table-responsive table-striped  ">
            <caption>
                布老板列表
            </caption>
            <thead>
            <tr>
                <th>编号</th>
                <th>布老板名字</th>
                <th>电话</th>
            </tr>
            </thead>
            <tbody>
            {% for boss in bosslist %}
                <tr>
                    <td>{{ boss.id }}</td>
                    <td>{{ boss.l_username }}</td>
                    <td>{{ boss.l_tell }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>



{% endblock %}