{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/index.css' %}">#}
</head>

<body>

{% block content %}
    <br>
    <h4 style="font-weight: bold" align="center" >飞越裤业发货单</h4>
    <div class="container">
        <ul style="list-style-type:square">
            <li style="font-weight: bold">工人：{{ order.s_o_worker }}</li>
            <li>时间：{{ order.s_o_time }}</li>
            <li>总条数：{{ order.s_o_nums }}</li>
            <li style="font-weight: bold">发放总价：{{ order.s_o_allprice }}</li>
            <li>损耗：________</li>
        </ul>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>记录编号</th>
                <th>裤品名</th>
                <th>布匹号</th>
                <th>布品名</th>
                <th>加工单价</th>
                <th>发放条数</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.sendorderitems_set.all %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.soi_pname }}</td>
                    <td>{{ item.soi_caiid }}</td>
                    <td>{{ item.soi_caibupin }}</td>
                    <td>{{ item.soi_price }}</td>
                    <td>{{ item.soi_nums }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
</body>


